ul {
    list-style: none;
}
.nav-list {
    display: inline-block;
    margin-right: 15px;

}
.diary-wrapper{
    color: crimson;
    text-align: center;
}
.day-wrapper{
    text-align:center;
}

