html{
    text-decoration: none;
    color:salmon
}
ul {
    list-style: none;
}

.nav-list {
    display: inline-block;
    margin-right: 15px;

}
.diary-wrapper{
    color: crimson;
    text-align: center;
}
.day-wrapper{
    text-align:center;
    color: darksalmon;
    border-radius: 10px;
    border-color: red;
    border-width: 6px;
}

